.stApp{
background:#07111F;
color:white;
}

.block-container{
padding-top:1rem;
padding-bottom:2rem;
max-width:1400px;
}

.hero{
background:linear-gradient(135deg,#1E3A8A,#0EA5E9);
padding:70px;
border-radius:25px;
text-align:center;
box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.big{
font-size:65px;
font-weight:800;
color:white;
}

.small{
font-size:22px;
color:#E5E7EB;
}

.card{
background:rgba(255,255,255,.06);
border-radius:18px;
padding:25px;
border:1px solid rgba(255,255,255,.15);
backdrop-filter:blur(12px);
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}